<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>

        </nav>


        <nav>
            <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a>
        </nav>
        <p>BNB ADVISOR</p>

    </header>

    {{{body}}}
    <footer>CS546 FINAL PROJECT</footer>


</body>

</html>