
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <p class="mainpage_text">BNB ADVISOR</p>
    </header>

    {{{body}}}
    <footer class="mainpage_text">CS546 FINAL PROJECT</footer>


</body>

</html>