
<h1>Error</h1>

{{#if isNotFound}}
  <p class="not-found">{{message}}</p>
{{else}}
  <p class="error">{{message}}</p>
{{/if}}

<a href="/">Search for Another BNB</a>


<div class="error-message">
  <h3>Error</h3>
  <p>{{errorMsg}}</p>
  <a href="javascript:history.back()">Back</a>
</div>